@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

.file-tree ul {
  list-style-type: none;
  padding-left: 10px;
}

@media screen and (max-width: 768px) {
  .file-tree ul {
    padding-left: 5px;
  }
}

.folder,
.file {
  cursor: pointer;
  @apply text-white;
}

.folder:before {
  content: "▶";
  display: inline-block;
  margin-right: 6px;
}

.folder.open:before {
  content: "▼";
}
